In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

import os 
import glob

In [2]:
# Read the building footprints data

buildingfootprints_df = gpd.read_file('manila_building_footprints.geojson')

buildingfootprints_df.head()

   id                                           geometry
0   0  POLYGON ((120.95954 14.62190, 120.95945 14.621...
1   1  POLYGON ((120.96084 14.62342, 120.96095 14.623...
2   2  POLYGON ((120.96181 14.60838, 120.96172 14.608...
3   3  POLYGON ((120.96087 14.62855, 120.96103 14.628...
4   4  POLYGON ((120.96158 14.62105, 120.96162 14.621...

In [10]:
# Load the Manila amenities data into a Geopandas dataframe
from shapely import wkt

manila_amenities_df = pd.read_csv('manila_amenities.csv')
manila_amenities_df['geometry'] = manila_amenities_df['geometry'].apply(wkt.loads)
manila_amenities_gdf = gpd.GeoDataFrame(manila_amenities_df, crs='epsg:4326')

manila_amenities_gdf

,amenity,addr_city,name,x,y,geometry
0,education,Manila,University of the Philippines - Manila,120.983483,14.579005,"POLYGON ((120.98389 14.57888, 120.98391 14.578..."
1,education,Manila,NaN,120.988929,14.603745,"POLYGON ((120.98881 14.60384, 120.98885 14.603..."
2,education,Manila,Nihongo Center,120.988241,14.603513,"POLYGON ((120.98835 14.60348, 120.98845 14.603..."
3,education,Manila,Victoriano Mapa High School,120.991760,14.598005,"MULTIPOLYGON (((120.99298 14.59817, 120.99285 ..."
4,education,Manila,Centro Escolar University,120.991700,14.598636,"MULTIPOLYGON (((120.99125 14.59770, 120.99094 ..."
...,...,...,...,...,...,...
1771,transportation,Manila,Stop and Shop Petron,121.010583,14.602418,POINT (121.01058 14.60242)
1772,transportation,Manila,Quinta,120.982228,14.595947,POINT (120.98223 14.59595)
1773,transportation,Manila,Padre Faura,120.985790,14.580782,POINT (120.98579 14.58078)
1774,transportation,Manila,NaN,120.989680,14.573783,POINT (120.98968 14.57378)
1775,transportation,Manila,Manila City Hall,120.980725,14.589295,POINT (120.98073 14.58929)